.header {
    text-align: center;
}

.gameBoard {
    display: grid;
    align-self: center;
    justify-content: center;
}

.scoreHeader {
    text-align: center;
}

.player1Score, .player2Score{
    text-align: center;
}